@import 'tailwindcss';

@theme {
	--color-background: #0f0f0f;
	--color-foreground: #1f1f1f;
	--color-primary: #7c4dff;
	--color-primary-hover: #9d7dff;
	--color-heading: #ffffff;
	--color-body: #c0c0c0;
	--color-accent: #20c6b6;
	--color-destructive: #cf6679;
	--color-border: #3a3a3a;
}

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
