@import 'tailwindcss';

@theme {
  --color-background: #cfdbd5;
  --color-foreground: #e8eddf;
  --color-primary: #f5cb5c;
  --color-heading: #242423;
  --color-body: #333533;
}

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';